
h1 {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
    text-align: center;
    font-size: 100px;
    color: Khaki;
}
* {
font-family: helvetica;
}

#brush {
  background-color: MediumSpringGreen;
  color: white;
  font-size: 32px;
}
#frame {
    background-color: LightCoral;
    color: white;
    font-size: 32px;
}
#paint {
    background-color: SkyBlue;
    color: white;
    font-size: 32px;
}
.price {
  color:blue;
  front-weight:bold;
}
